/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define NAV 1
#define DIR 2

/ {
        keymap {
                compatible = "zmk,keymap";
      default_layer {
//    --------------------------------------     ---------------------------------------
//    |  TAB |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U   |  I  |  O  |  P  | BKSP |
//    | CTRL |  A  |  S  |  D  |  F  |  G  |     |  H  |  J   |  K  |  L  |  ;  |  '   |
//    | SHFT |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M   |  ,  |  .  |  /  | SHFT |
//    -------------------| GUI | LWR | SPC |     | ENT | RSE  | ALT |-------------------
//                       -------------------     --------------------
        bindings = <

&trans    &kp Q      &kp W      &kp E      &kp R      &kp T        &kp Y    &kp U  &kp I     &kp O    &kp P     &kp BKSP
&kp LCTL  &lt NAV A  &kp S      &kp D      &kp F      &kp G        &kp H    &kp J  &kp K     &kp L    &kp SCLN  &kp QUOT
&trans    &kp Z      &kp X      &kp C      &kp V      &kp B        &kp N    &kp M  &kp CMMA  &kp DOT  &kp FSLH  &kp RSFT
                                &trans     &kp LGUI   &kp SPC      &kp SPC  &mo 1  &kp RET

        >;
      };

      dir_layer {
//    --------------------------------------     ---------------------------------------
//    |      |     |     |     |     |     |     |     |      |     |     |     |      |
//    |      |     | PAG |     |     |     |     | LFT |  UP  | DWN | RHT |     |      |
//    |      |     |     |     |     |     |     |     |      |     |     |     |      |
//    -------------------|     |     |     |     |     |      |     |-------------------
//                       -------------------     --------------------

        bindings = < 

&trans  &trans  &trans   &trans  &trans  &trans        &trans    &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans   &trans  &trans  &trans        &kp LARW  &kp DARW  &kp UARW  &kp RARW  &trans  &trans
&trans  &trans  &trans   &trans  &trans  &trans        &trans    &trans    &trans    &trans    &trans  &trans
                         &trans  &trans  &trans        &trans    &trans    &trans 

        >;
      };


                raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  {  |  }  | "|" |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  [  |  ]  |  \  |  ~   | // TODO: Fix this row when &mkp is committed
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  ESC &kp BANG  &kp ATSN  &kp HASH  &kp CURU  &kp PRCT    &kp CRRT  &kp AMPS &kp KMLT &kp LPRN &kp RPRN &kp BKSP
   &kp LCTL &trans    &trans    &trans    &trans    &trans      &kp MINUS &kp EQL  &kp LBKT &kp RBKT &kp PIPE &kp GRAV
   &kp LSFT &trans    &trans    &trans    &trans    &trans      &trans    &trans   &trans   &trans   &kp BSLH &kp TILD
                                      &kp LGUI &trans &kp SPC   &kp RET &trans &kp RALT
                        >;
                };
        };
};
